@charset "UTF-8";

/* clearfix用 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.big-box {
  width: 400px;
  margin: 0 auto;
}

.box-blue {
  background-color: #141f40;
  width: 400px;
  height: 100px;
  float: left;
  margin: 0 auto;
  position: relative;
}

.in-box {
  background-color: white;
  width: 160px;
  height: 60px;
  position: absolute;
  left: 200px;
  top: 20px;
  box-sizing: border-box;
}

.box-3 {
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  float: left;
  margin: 10px;
}
.box-3:first-child {
  margin-right: 0;
}

.box-3:last-child {
  margin-left: 0;
}

.box-mosgreen {
  background-color: #80bfa8;
  width: 150px;
  height: 250px;
  float: left;
  margin: 0 auto;
}

.box-red {
  background-color: #8c2727;
  width: 250px;
  height: 250px;
  float: left;
  margin: 0 auto;
  position: relative;
}

.boxinthe {
  width: 150px;
  height: 170px;
  position: absolute;
  left: 40px;
  top: 40px;
}

.boxin3 {
  box-sizing: border-box;
  background-color: #ff863f;
  border: 5px solid white;
  width: 150px;
  height: 50px;
  float: left;
  margin: 10px 0;
}

.boxin3:first-child {
  margin: 0;
}

.boxin3:last-child {
  margin: 0;
}

.box-orange {
  background-color: #d98d30;
  width: 400px;
  height: 100px;
  margin: 0 auto;
}
