@charset "UTF-8";

/* clearfix用 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.big-box {
  /* 大きく囲って中央寄せのため相対的に位置を移動 */
  width: 800px;
  margin: 0 auto;
}

header {
  background-color: #FF0066;
  display: flex;
  width: 800px;
  height: 100px;
  position: relative;
}

.circle-box {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 25px;
  top: 25px;
}

.comment-box {
  background-color: white;
}

