.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.box-blue {
  background-color:#141f40;
  margin: 0, auto;
  width: 400px;
  height: 100px;
}

main {
  float: left;
  clear: both;
  margin: 0, auto;
}
.box-mosgreen {
  background-color:#80bfa8;
  margin: 0;
  width: 150px;
  height: 250px;
  float: left;
}
.box-right {
  float: left;
}

.box-3 {
  /* float: left; */

}
.box-center {
  float: left;
  clear: both;

}
.box-pink {
  background-color :#ff9e6b;
  margin: 0;
  width: 100px;
  height:150px;
  float: left;
}

.box-skyblue {
  background-color :#0093b7;
  margin: 0;
  width: 150px;
  height: 100px;  
}
.box-yellow {
  background-color :#dbd400;
  margin: 0;
  width: 150px;
  height: 50px;
}
.box-red {
  background-color:#8c2727;
  margin: 0px;
  width: 250px;
  height: 100px;
  float: right;
  clear: both;
}
footer {
  float: left;
  clear: both;
  margin: 0, auto;
}
.box-orange {
  background-color:#d98d30;
  margin: 0;
  width: 400px;
  height: 100px;
}